
<div class="jombotron">

	<div>
		<h4>Cadastro de Diretor</h4>
		<form action="#" ng-controller="myCtrl">
			<input type="text" ng-model="diretor.nome" placeholder="Nome"  class="form-control"/>
			<input type="file" file-model="myFile" class="form-control"></input>
			<img class="carregando" src="../../img/loading.gif" />
			<button ng-click="uploadFile()" class="btn btn-primary btn-block" ng-disabled="!diretor.nome">Adicionar</button>
		</form>
		<div class="fotoDiretor">
	<img id="myImg" src="../../img/user_icon.png" class="img-thumbnail img-responsive" />
</div>
	</div>
	
</div>














