<nav class="navbar navbar-default" role="navigation" style="background-color: #CD0000;">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#" style="color: white;">Cine <span class="glyphicon glyphicon-play-circle"></span> Fast</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav" >
						<li >
							<a href="#"><span class="glyphicon glyphicon-home" style="color: white;"></span></a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-calendar" style="color: white;"></span></a>
						</li>
            <li>
							<a href="#"><span class="glyphicon glyphicon-star" style="color: white;"></span></a>
						</li>

						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">Filmes <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="templates/diretor/crud-diretor.html">Ação</a>
								</li>
								<li>
									<a href="#">Animação</a>
								</li>
								<li>
									<a href="#">Aventura</a>
								</li>
								<li>
									<a href="#">Comédia</a>
								</li>
								<li>
									<a href="#">Comédia Romântica</a>
								</li>
                <li>
									<a href="#">Crime</a>
								</li>
                <li>
									<a href="#">Documentário</a>
								</li>
                <li>
									<a href="#">Drama</a>
								</li>
                <li>
									<a href="#">Faroeste</a>
								</li>
                <li>
									<a href="#">Ficção Científica</a>
								</li>
                <li>
									<a href="#">Guerra</a>
								</li>
                <li>
									<a href="#">Musical</a>
								</li>
                <li>
									<a href="#">Policial</a>
								</li>
                <li>
									<a href="#">Romance</a>
								</li>
                <li>
									<a href="#">Suspense</a>
								</li>
                <li>
									<a href="#">Terror</a>
								</li>
                <li>
									<a href="#">Thriller</a>
								</li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
  						<div class="form-group">
  							<input type="text" class="form-control" placeholder="Pesquisar">
  						</div>
  						<button type="submit" class="btn btn-default" style="color: white; background-color: black; border-color: black;">
  							Submit
  						</button>
  					</form>
					</ul>
				</div>

			</nav>
      <div>
        <img id="imgFace" src="img/facebook.png" width="30px" height="30px" />
        <img id="imgTwi" src="img/twitter.png" width="30px" height="30px" />
      </div>