# Empty CSS file for your own CSS
.destaque {
  background-color: #CD0000;
}
.elenco {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 999;
}
.diretor {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 999;
}
.corpoForm {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 999;

}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa:before {
  content:'\f005';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.borda-red {
	border-color: red;
}